<h1>Clientes Ativos</h1>

{% if clientes_ativos %}
    <table>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Endereço</th>
            <th>Data de Criação</th>
        </tr>
        {% for ativos in clientes_ativos %}
            <tr>
                <td>{{ ativos.id }}</td>
                <td>{{ ativos.nome }}</td>
                <td>{{ ativos.email }}</td>
                <td>{{ ativos.endereco }}</td>
                <td>{{ ativos.data_criacao }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>Não há clientes ativos para mostrar.</p>
{% endif %}
