<h1>Clientes Ativos</h1>

{% if clientes_ativos %}
    <table>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Endereço</th>
            <th>Data de Criação</th>
        </tr>
        {% for ativo in clientes_ativos %}
            <tr>
                <td>{{ ativo.id }}</td>
                <td>{{ ativo.nome }}</td>
                <td>{{ ativo.email }}</td>
                <td>{{ ativo.telefone }}</td>
                <td>{{ ativo.endereco }}</td>
                <td>{{ ativo.data_criacao }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>Não há clientes ativos para mostrar.</p>
{% endif %}
