<h1>Insights Gerais</h1>
<p><strong>Total de Clientes:</strong> {{ total_clientes }}</p>
<p><strong>Total de Itens em Estoque:</strong> {{ total_estoque }}</p>

<h2>Top 3 Produtos Mais Populares</h2>
<table>
    <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Quantidade</th>
        <th>Preço</th>
        <th>Data de Criação</th>
    </tr>
    {% for produto in produtos_populares %}
    <tr>
        <td>{{ produto.nome }}</td>
        <td>{{ produto.descricao }}</td>
        <td>{{ produto.quantidade }}</td>
        <td>{{ produto.preco }}</td>
        <td>{{ produto.data_criacao }}</td>
    </tr>
    {% endfor %}
</table>
