<h1>Novos Clientes</h1>

{% if novos_registros %}
    <table>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Endereço</th>
            <th>Data de Criação</th>
        </tr>
        {% for novo in novos_registros %}
            <tr>
                <td>{{ novo.id }}</td>
                <td>{{ novo.nome }}</td>
                <td>{{ novo.email }}</td>
                <td>{{ novo.telefone }}</td>
                <td>{{ novo.endereco }}</td>
                <td>{{ novo.data_criacao }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>Não há clientes novos para mostrar.</p>
{% endif %}
